<h2><%= page._id %></h2>

<form action="#/pages/<%= page._id %>" method="put">
  <p><textarea name="body" id="body" rows="20" cols="80"><%= page.body %></textarea></p>
  <p><input type="submit" value="Update Page"/></p>
</form>
