<form action="#/pages" method="post">
  <label for="title">Title</label>
  <p><input type="text" name="title" id="title"/></p>
  <label for="body">Body</label>
  <p><textarea name="body" id="body"></textarea></p>
  <p><input type="submit" value="Create Page"/></p>
</form>
