<h2><%= page._id %></h2>

<ul id="subnav">
  <li><a href="#/pages/<%= page._id %>/edit">edit</a></li>
  <li><a href="#/pages/<%= page._id %>/versions">versions</a></li>
</ul>

<div id="page">
  <p><%= page.body.replace(/([A-Z][a-z]+([A-Z][a-z]+)+)/g, function(match) {return "<a href=\"#/pages/" + match + "\">" + match + "</a>"}) %></p>
</div>